.header {
    display: flex;
    justify-content: space-between;
    background: rgb(6, 18, 56);
    color: white;
}

h1 {
    padding-left: 10px;
}

.header-person {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#avi {
    width: 150px;
    height: 120px;
    border-radius: 20%;
    padding-top: 20px;
    padding-left: 15px;
}